<!-- This is our base list file. It is built with HTML -->

<%- include("partials/header") -%> <!-- include our header.ejs template -->

<h1>About</h1>
<p><%= aboutContent %></p>

<%- include("partials/footer") -%> <!-- include our footer.ejs template -->
