<%- include("partials/header") -%> <!-- include our header.ejs template -->

<h1><%= postTitle %></h1>
<p><%= postText %></p>

<%- include("partials/footer") -%> <!-- include our footer.ejs template -->
